*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #111827;
    color: #fff;
    font-family: "Poppins", serif;
}

section{
    margin-top:100px;
    text-align: center;
}

section img{
    width: 200px;
    height: 100px;
}

section .input-background{
    margin-top: 30px;
    background-color: #1F2937;
    width: 470px;
    height: 470px;
    margin-left: 540px;
    border-radius: 8px;
}


section input{
    width: 400px;
    margin-top: 7px;
    height: 40px;
    background-color: #111827;
    border: solid 1px #374151;
    border-radius: 4px;
    color: #fff;
    padding-left: 4px;
}
section label{
    margin-right: 270px;
    color: #374151;

}
section .email-label{
    margin-right: 350px;
}
section .password-label{
    margin-right: 327px;
}
section .name-label{
    margin-right: 350px;
}
section .link-a{
    margin-top: 20px;
}
section .link-a a:hover{
    color: #fff;

}
section .link-a a{
    color: #9CA3AF;
}


section .input-enter{
    padding-top: 30px;
}

section button{
    margin-right: 100px;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: #0067f4;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #0067f4;
    transition: 0.4s ease-in-out;
}

section button:hover{
    transition: 0.4s ease-in-out;
    color: #0067f4;
    background-color: #fff;
    border: 2px solid #0067f4;
}