*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

header .right-section{
    display: flex;
    margin-left: 200px;
}

header .right-section img{
    width: 100px;
    height: 50px;
}

header .right-section p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 30px;
    color: #6B7280;
}

header .right-section p a{
    text-decoration: none;
    color: #6B7280;
}
header .right-section p a:hover{
    color: #333;
    cursor: pointer;
}
header .left-section{
    margin-right: 150px;
    margin-top: 5px;
}
header .left-section button{
    background-color: #fff;
    border: 1px solid #DEE2E6;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border-radius: 6px;
    color: #6B7290;
}

header .left-section button span img{
    width: 13px;
    height: 10px;
}
header .left-section button:hover{
    color: #afb2b9;
}

header .right-section h3 a{
    color: #6B7280;
    text-decoration: none;
}


.sec-1 div{
    display: flex;
    justify-content: end;
    margin-right: 150px;
    margin-top: 20px;
}

.sec-1 div button{
    background-color: #0D6EFD;
    color: #fff;
    border: none;
    width: 220px;
    height: 50px;
    border-radius: 4px;
    font-size: 17px;
    transition: 0.7s ease;
}

.sec-1 div button:hover{
    background-color: #0c56c4;
    transition: 0.7s ease;
    cursor: pointer;
}


.sec-2{
    background-color: #111827;
    display: flex;
    justify-content: center;
    height: 1100px;
    align-items: center;
    margin-top: 20px;
}


.sec-2 .sec-2-p{
    background-color: #fff;
    width: 1200px;
    height: 1000px;
    border-radius: 8px;
}

.sec-2 .sec-2-p .data-type-p{
    text-align: center;
   padding-top: 20px;
   color: #B9BABC;
   font-size: 12px;
}


.sec-2 .sec-2-p .scan-title{
    text-align: center;
    padding-top: 40px;
}

.sec-2 .sec-2-p .scan-title h2{
    font-weight: 400;
}

.sec-2 .sec-2-p .scan-number{
    font-size: 35px;
    color: #666666;
}

.sec-2 .sec-2-p .rows{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.sec-2 .sec-2-p .rows .coloumn h2{
    font-weight: 400;
    font-size: 15px;
}

.sec-2 .sec-2-p .chart{
    text-align: center;
    margin-top: 200px;
    margin-right: 300px;
}
.sec-2 .sec-2-p .chart h2{
    font-size: 15px;
    font-weight: 400;
}

.sec-2 .sec-2-p .chart canvas{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    display: block;
    box-sizing: border-box;
    height: 350px;
    width: 700px;
    margin-left: 334px;
}